.gauge {
  width: 125px;
  margin: 0 5px;

  .image {
    margin-top: -12px;
    height: calc(100% - 55px);
    width: calc(100% - 55px);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    &.react {
      background-image: url("/assets/imgs/react_logo.png");
    }
    &.vue {
      background-image: url("/assets/imgs/vuejs_logo.png");
    }
    &.css {
      background-image: url("/assets/imgs/css_logo.png");
    }
    &.sass {
      background-image: url("/assets/imgs/sass_logo.png");
    }
    &.git {
      background-image: url("/assets/imgs/git_logo.png");
    }
    &.html {
      background-image: url("/assets/imgs/html_logo.png");
    }
    &.php {
      background-image: url("/assets/imgs/php_logo.png");
    }
    &.node {
      background-image: url("/assets/imgs/nodejs_logo.png");
    }
  }
}
