.app-header {
  display: flex;
  justify-content: space-evenly;
  background-color: rgba(130, 127, 127, 14%);
  padding: 10px;
  font-weight: 600;

  a {
    flex-grow: 1;
    text-decoration: none;
    color: $text-color;
  }
}
