.header-app {
  display: flex;
  position: relative;
  justify-content: space-between;
  background-color: $header-color;
  padding: 10px;
  font-weight: 600;
  height: 50px;

  a {
    flex-grow: 1;
  }

  .logo {
    background-image: url("/assets/imgs/logo.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    min-width: 30px;
    min-height: 30px;
  }

  .navigation {
    display: flex;
    justify-content: space-between;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;

    a {
      .btn {
        padding: 10px;

        &:hover {
          color: $text-color;
        }
      }
    }
  }

  .dropdown-menu {
    position: absolute;
    top: 100%;
    width: 50%;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 10;
    padding: 5px;

    &.show {
      left: 0;
      opacity: 1;
      animation: menu-in 1.5s ease;
    }

    &.hidden {
      left: -100%;
      opacity: 0;
      animation: menu-out 1.5s ease;
    }

    .btn {
      color: white;
    }
  }
}
