.home {
  position: relative;

  .sub-header {
    position: relative;
    background-color: $color-primary;
    min-height: 165px;
    font-weight: 600;
    font-size: 5rem;

    .text {
      position: absolute;
      bottom: 10px;
      left: 15%;
    }
  }

  .content {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

    > * {
      max-width: 700px;
    }

    .about-me {
      display: flex;

      .text {
        flex-grow: 1;
        padding: 10px;
      }

      .home-img {
        flex-shrink: 0;
        margin-top: -120px;
        z-index: 1;
        border-radius: 50%;
        width: 200px;
        height: 200px;
        background-image: url("../../assets/imgs/me.jpg");
        background-position: center;
        background-size: contain;

        animation: home-in-me 1.5s ease;
      }
    }

    .skills {
      .title {
        font-size: 2rem;
        text-transform: capitalize;
      }

      .skill-gauge {
        display: flex;
        flex-wrap: wrap;
      }
    }
  }
}
