.home-mask {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  font-weight: 600;
  font-size: 5rem;
  transform:scale(0);
  display: grid;
  grid-template-rows: 1fr 1fr;
  z-index: 10;
  background-color: $color-primary;
  //   animation: mask-out 3.5s ease;

  .section {
    position: relative;
    transform: scale(0);

    &.first {
      background-color: $color-secondary;

      .home-text {
        bottom: 0;
      }
    }

    &.second {
      background-color: $color-primary;
    }

    .home-text {
      position: absolute;
      left: 20%;
    }
  }

  &.in {
    transform: scaleY(0.01) scaleX(0);
    // animation: unfoldIn 10s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;

    .section {
    //   animation: zoomIn 5s 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
    }
  }

  &.out {
    transform: scale(1);
    animation: unfoldOut 10s 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;

    .section {
      animation: zoomOut 5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
    }
  }

  //   &.one {
  //     transform: scaleY(0.01) scaleX(0);
  //     animation: unfoldIn 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  //     .modal-background {
  //       .modal {
  //         transform: scale(0);
  //         animation: zoomIn 0.5s 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  //       }
  //     }

  //     &.out {
  //       transform: scale(1);
  //       animation: unfoldOut 1s 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  //       .modal-background {
  //         .modal {
  //           animation: zoomOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  //         }
  //       }
  //     }
  //   }
}
