.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 30px;
  min-height: 30px;
  border-radius: $border-radius;

  &:hover {
    background-color: white;
    top: 1px;
  }
}
