.text-bold {
  font-weight: 600;
}

.text-color {
  color: black;
}

.text-primary {
  color: $color-primary;
}

.text-secondary {
  color: $color-secondary;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header,
.footer {
  flex-shrink: 0;
}

.content {
  flex-grow: 1;
  overflow: auto;
}

a {
  text-decoration: none;
  color: black;
}
