.text-bold {
  font-weight: 600;
}

.text-color {
  color: black;
}

.text-primary {
  color: $color-primary;
}

.text-secondary {
  color: $color-secondary;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
