@keyframes pulse {
    0% {
      background-color: #001F3F;
    }
    100% {
      background-color: #FF4136;
    }
  }

  @keyframes home-in {
    0% {
      left: 0;
    }
    100% {
      left: 20%;
    }
  }