$screen-extra-large: 1600px;
$screen-large: 1400px;
$screen-medium: 1024px;
$screen-small: 720px;
$screen-extra-small: 400px;


$color-primary: #febd55;
$color-secondary: white;

$border-radius: 10px;

$text-color: black;
